<div class="race-ext-modal__content-body">
  <h3>{{@race.name}}</h3>
  <span>{{status}}</span>
</div>

<span class="race-ext-race-detail-users">
  <table>
    <tr>
      <th>Name</th>
      <th>Club</th>
      <th>Regional Rank</th>
      <th>National Rank</th>
    </tr>
    {{#each users key="@index" as |entrant|}}
      <tr>
        <td><a href="{{entrant.points_href}}" target="_blank">{{entrant.name}}</a></td>

        {{#if entrant.error}}
          <td colspan="3"><a href="{{entrant.points_href}}" target="_blank">error</a></td>
        {{else}}

          {{#if entrant.points_loaded}}

            <td><a href="{{entrant.points_href}}" target="_blank">{{entrant.current_club}}</a></td>
            <td><a href="{{entrant.points_href}}" target="_blank">{{if (eq 999 entrant.regional_rank) '' entrant.regional_rank}}</a></td>
            <td><a href="{{entrant.points_href}}" target="_blank">{{if (eq 999 entrant.national_rank) '' entrant.national_rank}}</a></td>

          {{else}}
            <td colspan="3"><a href="{{entrant.points_href}}" target="_blank">loading...</a></td>
          {{/if}}
        {{/if}}

      </tr>
    {{else}}
      <tr>
        <td colspan=4><span>No Entrants</span></td>
      </tr>
    {{/each}}
  </table>
</span>
